n8n/workflows/03-rent-reminder.json
{
  "id": "a5dddecd-e5b1-4513-9a4a-3c728b104b36",
  "name": "03 - Rent Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://estateflow-us.vercel.app/api/n8n/rent-due",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "=estateflow-us-n8n-secret-2026"
            }
          ]
        },
        "options": {}
      },
      "id": "get-reminders",
      "name": "Get Tenants With Rent Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-reminders",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-reminders-check",
      "name": "Any Rent Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reminders",
        "options": {}
      },
      "id": "split-reminders",
      "name": "Split Into Individual Tenants",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst firstName = item.tenant_name.split(' ')[0];\nconst rent = Number(item.monthly_rent).toLocaleString('en-US');\nconst dueDate = new Date(item.due_date).toLocaleDateString('en-US', {\n  day: 'numeric', month: 'long', year: 'numeric'\n});\nconst unit = item.unit_number ? ` for Unit ${item.unit_number}` : '';\n\nconst message = `Hi ${firstName},\\n\\nThis is a friendly reminder that your monthly rent of $${rent}${unit} is due on ${dueDate}.\\n\\nPlease make your payment on time to avoid any late fees.\\n\\nIf you have any questions, please reach out.\\n\\nThank you! 🏠`;\n\nreturn [{ json: { ...item, whatsapp_message: message } }];"
      },
      "id": "build-reminder",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1221327281053499/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMInHE0vdABRpIWYtuTUZBxhLw7Tw98dB4YEcLTZBDA31cZBFksq1uU7O1ZAspbOW8wjyPYuIXDdR2TyzZCIAfuwRFX1nLvYbZCZBd0athXIUrevtPEJWjSTtda7oZC0l4i9lpnAn81Pz86vZAv6ZAPC9w1WYe3YZCZC5MZBsnpnfXRvVRQ8nOB04EOyVG8SQlehBtwtYRkDUrLP2CR8WmRQvyYqM4ixSrtQQXBrWg2yRZBzCZBB18LKqhwFqOFTr4uF1ZBsUaSXDnWbYdYWalLu7TwbFyi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"={{ $json.tenant_phone.replace(/\\\\D/g, '') }}\", \"type\": \"text\", \"text\": {\"body\": \"={{ $json.whatsapp_message }}\"}}"
      },
      "id": "send-reminder",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://estateflow-us.vercel.app/api/n8n/send-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "estateflow-us-n8n-secret-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Split Into Individual Tenants').item.json.email }}"
            },
            {
              "name": "subject",
              "value": "Rent Payment Reminder — Due {{ $('Build Reminder Message').item.json.due_date }}"
            },
            {
              "name": "body",
              "value": "={{ $('Build Reminder Message').item.json.whatsapp_message }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-email-reminder",
      "name": "Send Email Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 380]
    }
  ],
  "connections": {
    "Daily 10AM": {
      "main": [
        [
          {
            "node": "Get Tenants With Rent Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenants With Rent Due": {
      "main": [
        [
          {
            "node": "Any Rent Due?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Rent Due?": {
      "main": [
        [
          {
            "node": "Split Into Individual Tenants",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Into Individual Tenants": {
      "main": [
        [
          {
            "node": "Build Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Runs every day at 10 AM. Checks for tenants whose rent is due in 3 days and sends them a WhatsApp reminder and email with the amount and due date."
  }
}
