n8n/workflows/04-visit-confirmation.json
{
  "id": "999e0c6b-90a4-44c6-bc75-9225fef964b0",
  "name": "04 - Visit Booking Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "visit-confirmation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "visit-webhook",
      "name": "Visit Booked Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "visit-confirmation"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst name = data.visitor_name?.split(' ')[0] || 'there';\nconst phone = data.visitor_phone?.replace('+', '') || '';\nconst date = new Date(data.visit_date).toLocaleDateString('en-US', { weekday: 'long', day: 'numeric', month: 'long' });\nconst time = data.visit_time || '10:00';\nconst property = data.visit?.properties?.title || 'the property';\n\nconst message = `Hi ${name}! ✅ Your showing has been confirmed.\\n\\n🏠 Property: ${property}\\n📅 Date: ${date}\\n⏰ Time: ${time}\\n\\nOur agent will meet you at the property. Please bring a valid ID.\\n\\nIf you need to reschedule, reply to this message or call us.\\n\\nSee you soon! 🙂`;\n\nreturn [{ json: { ...data, message, phone } }];"
      },
      "id": "build-confirmation",
      "name": "Build Confirmation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1221327281053499/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMInHE0vdABRpIWYtuTUZBxhLw7Tw98dB4YEcLTZBDA31cZBFksq1uU7O1ZAspbOW8wjyPYuIXDdR2TyzZCIAfuwRFX1nLvYbZCZBd0athXIUrevtPEJWjSTtda7oZC0l4i9lpnAn81Pz86vZAv6ZAPC9w1WYe3YZCZC5MZBsnpnfXRvVRQ8nOB04EOyVG8SQlehBtwtYRkDUrLP2CR8WmRQvyYqM4ixSrtQQXBrWg2yRZBzCZBB18LKqhwFqOFTr4uF1ZBsUaSXDnWbYdYWalLu7TwbFyi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"={{ $json.phone.replace(/\\\\D/g, '') }}\", \"type\": \"text\", \"text\": {\"body\": \"={{ $json.message }}\"}}"
      },
      "id": "send-confirmation",
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://estateflow-us.vercel.app/api/n8n/send-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "estateflow-us-n8n-secret-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Build Confirmation Message').item.json.visitor_email }}"
            },
            {
              "name": "subject",
              "value": "Your Property Showing is Confirmed ✅"
            },
            {
              "name": "body",
              "value": "={{ $('Build Confirmation Message').item.json.message }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-email-confirmation",
      "name": "Send Email Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Visit Booked Webhook": {
      "main": [
        [
          {
            "node": "Build Confirmation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Triggered instantly when a visit is booked. Sends WhatsApp and email confirmation with date, time and property details."
  }
}
