n8n/workflows/05-visit-reminder.json
{
  "id": "fe417732-03ae-436e-9432-40cf0dc60a27",
  "name": "05 - Visit Reminder (1 Day Before)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://estateflow-us.vercel.app/api/n8n/visits-tomorrow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "=estateflow-us-n8n-secret-2026"
            }
          ]
        },
        "options": {}
      },
      "id": "get-visits",
      "name": "Get Tomorrows Visits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "has-visits",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-visits-check",
      "name": "Any Visits Tomorrow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "visits",
        "options": {}
      },
      "id": "split",
      "name": "Split Visits",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const v = $input.first().json;\nconst name = v.visitor_name?.split(' ')[0] || 'there';\nconst phone = v.visitor_phone?.replace('+', '') || '';\nconst time = v.visit_time || '10:00';\nconst property = v.properties?.title || 'the property';\nconst location = v.properties?.city || v.properties?.location || '';\n\nconst message = `Hi ${name}! 🔔 Reminder: Your showing is TOMORROW.\\n\\n🏠 ${property}${location ? ' — ' + location : ''}\\n⏰ Time: ${time}\\n\\nPlease be on time. Our agent will meet you at the property.\\n\\nNeed to reschedule? Reply here or call us.`;\n\nreturn [{ json: { ...v, message, phone } }];"
      },
      "id": "build-reminder",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1221327281053499/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMInHE0vdABRpIWYtuTUZBxhLw7Tw98dB4YEcLTZBDA31cZBFksq1uU7O1ZAspbOW8wjyPYuIXDdR2TyzZCIAfuwRFX1nLvYbZCZBd0athXIUrevtPEJWjSTtda7oZC0l4i9lpnAn81Pz86vZAv6ZAPC9w1WYe3YZCZC5MZBsnpnfXRvVRQ8nOB04EOyVG8SQlehBtwtYRkDUrLP2CR8WmRQvyYqM4ixSrtQQXBrWg2yRZBzCZBB18LKqhwFqOFTr4uF1ZBsUaSXDnWbYdYWalLu7TwbFyi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"={{ $json.phone.replace(/\\\\D/g, '') }}\", \"type\": \"text\", \"text\": {\"body\": \"={{ $json.message }}\"}}"
      },
      "id": "send-reminder",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://estateflow-us.vercel.app/api/n8n/send-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "estateflow-us-n8n-secret-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Split Visits').item.json.visitor_email }}"
            },
            {
              "name": "subject",
              "value": "🔔 Reminder: Your Property Showing is Tomorrow"
            },
            {
              "name": "body",
              "value": "={{ $('Build Reminder Message').item.json.message }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-email-reminder",
      "name": "Send Email Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 380]
    }
  ],
  "connections": {
    "Daily 8AM": {
      "main": [
        [
          {
            "node": "Get Tomorrows Visits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tomorrows Visits": {
      "main": [
        [
          {
            "node": "Any Visits Tomorrow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Visits Tomorrow?": {
      "main": [
        [
          {
            "node": "Split Visits",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Visits": {
      "main": [
        [
          {
            "node": "Build Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Message": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Runs every morning at 8 AM. Sends WhatsApp and email reminder to every visitor whose site visit is scheduled for tomorrow."
  }
}
