n8n/workflows/09-postsale-referral.json
{
  "id": "9b7f3624-bad5-4a39-824f-f9c7fe19ddae",
  "name": "09 - Post-Sale Referral Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 11AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://estateflow-us.vercel.app/api/n8n/referral-followups",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "=estateflow-us-n8n-secret-2026"
            }
          ]
        },
        "options": {}
      },
      "id": "get-referrals",
      "name": "Get Clients Closed 30 Days Ago",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-referrals",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-referrals-check",
      "name": "Any Clients To Ask?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "split-leads",
      "name": "Split Into Individual Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst firstName = (lead.name || 'there').split(' ')[0];\nconst place = lead.location ? ` in ${lead.location}` : ' in your area';\nconst home = lead.property_type ? lead.property_type.toLowerCase() : 'new home';\n\nconst message = `Hi ${firstName}, it's been a month since you moved into your ${home}${place} — we hope you're settling in well! If you know anyone looking to buy or rent${place}, we'd love to help them too. A referral from you means the world to us. 🙏🏠`;\n\nconst phone = (lead.phone || '').replace('+', '');\n\nreturn [{ json: { ...lead, message, phone } }];"
      },
      "id": "build-message",
      "name": "Build Referral Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1221327281053499/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMInHE0vdABRpIWYtuTUZBxhLw7Tw98dB4YEcLTZBDA31cZBFksq1uU7O1ZAspbOW8wjyPYuIXDdR2TyzZCIAfuwRFX1nLvYbZCZBd0athXIUrevtPEJWjSTtda7oZC0l4i9lpnAn81Pz86vZAv6ZAPC9w1WYe3YZCZC5MZBsnpnfXRvVRQ8nOB04EOyVG8SQlehBtwtYRkDUrLP2CR8WmRQvyYqM4ixSrtQQXBrWg2yRZBzCZBB18LKqhwFqOFTr4uF1ZBsUaSXDnWbYdYWalLu7TwbFyi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"={ $json.phone.replace(/\\\\D/g, '') }\", \"type\": \"text\", \"text\": {\"body\": \"={{ $json.message }}\"}}"
      },
      "id": "send-message",
      "name": "Send WhatsApp Referral Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://mishbyycoknjwtrmrpkn.supabase.co/rest/v1/leads?id=eq.{{ $('Split Into Individual Clients').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pc2hieXljb2tuand0cm1ycGtuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA1NjY1MywiZXhwIjoyMDk2NjMyNjUzfQ.udK47V1WlPx89AEROS0hgh7R7ldmBLNAE8_HE4qq-sg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pc2hieXljb2tuand0cm1ycGtuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA1NjY1MywiZXhwIjoyMDk2NjMyNjUzfQ.udK47V1WlPx89AEROS0hgh7R7ldmBLNAE8_HE4qq-sg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "referral_followup_sent_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "mark-sent",
      "name": "Mark Referral Ask Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://estateflow-us.vercel.app/api/n8n/send-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "estateflow-us-n8n-secret-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Split Into Individual Clients').item.json.email }}"
            },
            {
              "name": "subject",
              "value": "Settling in well? We'd love an introduction"
            },
            {
              "name": "body",
              "value": "={{ $('Build Referral Message').item.json.message }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('Split Into Individual Clients').item.json.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-email-referral",
      "name": "Send Email Referral Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        380
      ]
    }
  ],
  "connections": {
    "Daily 11AM": {
      "main": [
        [
          {
            "node": "Get Clients Closed 30 Days Ago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clients Closed 30 Days Ago": {
      "main": [
        [
          {
            "node": "Any Clients To Ask?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Clients To Ask?": {
      "main": [
        [
          {
            "node": "Split Into Individual Clients",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Into Individual Clients": {
      "main": [
        [
          {
            "node": "Build Referral Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Referral Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Referral Ask",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Referral Ask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Referral Ask": {
      "main": [
        [
          {
            "node": "Mark Referral Ask Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Runs every day at 11 AM. Finds leads that closed exactly 30 days ago, sends a warm WhatsApp asking for referrals, and stamps referral_followup_sent_at so each client is only asked once."
  }
}