n8n/workflows/09-postsale-referral.json
{
  "name": "09 - Post-Sale Referral Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 11 * * *" }] }
      },
      "id": "schedule-trigger",
      "name": "Daily 11AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ESTATEFLOW_URL }}/api/n8n/referral-followups",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-n8n-secret", "value": "={{ $env.N8N_SECRET }}" }]
        },
        "options": {}
      },
      "id": "get-referrals",
      "name": "Get Clients Closed 30 Days Ago",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-referrals",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-referrals-check",
      "name": "Any Clients To Ask?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": { "fieldToSplitOut": "leads", "options": {} },
      "id": "split-leads",
      "name": "Split Into Individual Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst firstName = (lead.name || 'there').split(' ')[0];\nconst place = lead.location ? ` in ${lead.location}` : ' in your area';\nconst home = lead.property_type ? lead.property_type.toLowerCase() : 'new home';\n\nconst message = `Hi ${firstName}, it's been a month since you moved into your ${home}${place} — we hope you're settling in well! If you know anyone looking to buy or rent${place}, we'd love to help them too. A referral from you means the world to us. 🙏🏠`;\n\nconst phone = (lead.phone || '').replace('+', '');\n\nreturn [{ json: { ...lead, message, phone } }];"
      },
      "id": "build-message",
      "name": "Build Referral Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://live-mt-server.wati.io/{{ $env.WATI_ACCOUNT_ID }}/api/v1/sendSessionMessage/{{ $json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WATI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "messageText", "value": "={{ $json.message }}" }]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "send-message",
      "name": "Send WhatsApp Referral Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.NEXT_PUBLIC_SB_URL }}/rest/v1/leads?id=eq.{{ $('Split Into Individual Clients').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "referral_followup_sent_at", "value": "={{ $now.toISO() }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "mark-sent",
      "name": "Mark Referral Ask Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "Daily 11AM": { "main": [[{ "node": "Get Clients Closed 30 Days Ago", "type": "main", "index": 0 }]] },
    "Get Clients Closed 30 Days Ago": { "main": [[{ "node": "Any Clients To Ask?", "type": "main", "index": 0 }]] },
    "Any Clients To Ask?": { "main": [[{ "node": "Split Into Individual Clients", "type": "main", "index": 0 }], []] },
    "Split Into Individual Clients": { "main": [[{ "node": "Build Referral Message", "type": "main", "index": 0 }]] },
    "Build Referral Message": { "main": [[{ "node": "Send WhatsApp Referral Ask", "type": "main", "index": 0 }]] },
    "Send WhatsApp Referral Ask": { "main": [[{ "node": "Mark Referral Ask Sent", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Runs every day at 11 AM. Finds leads that closed exactly 30 days ago, sends a warm WhatsApp asking for referrals, and stamps referral_followup_sent_at so each client is only asked once."
  }
}
