n8n/workflows/10-new-property-matching.json
{
  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
  "name": "10 - New Property → Matching Leads Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-property-listed",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "property-webhook",
      "name": "New Property Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "new-property-listed"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://estateflow-us.vercel.app/api/n8n/matching-leads?property_id={{ $json.property_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "=estateflow-us-n8n-secret-2026"
            }
          ]
        },
        "options": {}
      },
      "id": "get-matches",
      "name": "Get Matching Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-matches",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-matches-check",
      "name": "Any Matching Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "split-leads",
      "name": "Split Into Individual Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst property = $('Get Matching Leads').first().json.property;\n\nconst firstName = lead.name?.split(' ')[0] || 'there';\nconst price = property.price ? `$${Number(property.price).toLocaleString('en-US')}` : 'great price';\nconst beds = property.bedrooms ? `${property.bedrooms}-bedroom ` : '';\nconst type = property.property_type || 'property';\nconst location = property.city || property.location || 'a great location';\n\nconst message = `Hi ${firstName}! 🏠 Great news!\n\nWe just listed a new ${beds}${type} that matches exactly what you've been looking for:\n\n📍 ${property.title}\n📌 ${location}\n💰 ${price}\n\nThis is a fresh listing and properties like this move fast. Want to schedule a viewing this week?\n\nReply YES and we'll lock in a time for you! 👇`;\n\nreturn [{ json: { ...lead, message, property_title: property.title } }];"
      },
      "id": "build-message",
      "name": "Build Match Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1221327281053499/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMInHE0vdABRpIWYtuTUZBxhLw7Tw98dB4YEcLTZBDA31cZBFksq1uU7O1ZAspbOW8wjyPYuIXDdR2TyzZCIAfuwRFX1nLvYbZCZBd0athXIUrevtPEJWjSTtda7oZC0l4i9lpnAn81Pz86vZAv6ZAPC9w1WYe3YZCZC5MZBsnpnfXRvVRQ8nOB04EOyVG8SQlehBtwtYRkDUrLP2CR8WmRQvyYqM4ixSrtQQXBrWg2yRZBzCZBB18LKqhwFqOFTr4uF1ZBsUaSXDnWbYdYWalLu7TwbFyi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"={{ $('Split Into Individual Leads').item.json.phone.replace(/\\\\D/g, '') }}\", \"type\": \"text\", \"text\": {\"body\": \"={{ $json.message }}\"}}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp to Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mishbyycoknjwtrmrpkn.supabase.co/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pc2hieXljb2tuand0cm1ycGtuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA1NjY1MywiZXhwIjoyMDk2NjMyNjUzfQ.udK47V1WlPx89AEROS0hgh7R7ldmBLNAE8_HE4qq-sg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pc2hieXljb2tuand0cm1ycGtuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA1NjY1MywiZXhwIjoyMDk2NjMyNjUzfQ.udK47V1WlPx89AEROS0hgh7R7ldmBLNAE8_HE4qq-sg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('Split Into Individual Leads').item.json.id }}"
            },
            {
              "name": "message",
              "value": "={{ $('Build Match Message').item.json.message }}"
            },
            {
              "name": "direction",
              "value": "outbound"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "log-crm",
      "name": "Log in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://estateflow-us.vercel.app/api/n8n/send-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "estateflow-us-n8n-secret-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Split Into Individual Leads').item.json.email }}"
            },
            {
              "name": "subject",
              "value": "🏠 New property match — just listed for you"
            },
            {
              "name": "body",
              "value": "={{ $('Build Match Message').item.json.message }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('Split Into Individual Leads').item.json.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-email-match",
      "name": "Send Email Property Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        380
      ]
    }
  ],
  "connections": {
    "New Property Webhook": {
      "main": [
        [
          {
            "node": "Get Matching Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Matching Leads": {
      "main": [
        [
          {
            "node": "Any Matching Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Matching Leads?": {
      "main": [
        [
          {
            "node": "Split Into Individual Leads",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Into Individual Leads": {
      "main": [
        [
          {
            "node": "Build Match Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Match Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp to Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Property Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp to Lead": {
      "main": [
        [
          {
            "node": "Log in CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Triggered when a new property is listed in EstateFlow. Fetches all active leads, matches them by budget/location/property type, and sends a personalised WhatsApp alert to each matching lead."
  }
}