n8n/workflows/12-visit-noshow-recovery.json
{
  "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
  "name": "12 - Visit No-Show Recovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 14,19 * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 2PM and 7PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://estateflow-us.vercel.app/api/n8n/noshow-visits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-secret", "value": "=estateflow-us-n8n-secret-2026" }
          ]
        },
        "options": {}
      },
      "id": "get-noshows",
      "name": "Get No-Show Visits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-noshows",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-noshows-check",
      "name": "Any No-Shows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "split-leads",
      "name": "Split Into Individual Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst firstName = lead.name?.split(' ')[0] || 'there';\n\nconst visitTime = lead.visit_date\n  ? new Date(lead.visit_date).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })\n  : 'your scheduled time';\n\nconst message = `Hi ${firstName}, we missed you today! 😊\n\nWe had a viewing scheduled for you at ${visitTime} and hope everything is okay on your end.\n\nWe'd love to reschedule at a time that works better for you — the property is still available!\n\nJust reply with:\n✅ *Tomorrow morning*\n✅ *Tomorrow afternoon*\n✅ *This weekend*\n\nOr let us know any other time and we'll make it happen! 🏠`;\n\nreturn [{ json: { ...lead, message } }];"
      },
      "id": "build-recovery",
      "name": "Build Recovery Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://live-mt-server.wati.io/{{ $env.WATI_ACCOUNT_ID }}/api/v1/sendSessionMessage/{{ $('Split Into Individual Leads').item.json.phone.replace(/\\D/g, '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WATI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "messageText", "value": "={{ $json.message }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "send-recovery",
      "name": "Send Recovery WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ https://mishbyycoknjwtrmrpkn.supabase.co }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pc2hieXljb2tuand0cm1ycGtuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA1NjY1MywiZXhwIjoyMDk2NjMyNjUzfQ.udK47V1WlPx89AEROS0hgh7R7ldmBLNAE8_HE4qq-sg }}" },
            { "name": "Authorization", "value": "=Bearer {{ eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pc2hieXljb2tuand0cm1ycGtuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA1NjY1MywiZXhwIjoyMDk2NjMyNjUzfQ.udK47V1WlPx89AEROS0hgh7R7ldmBLNAE8_HE4qq-sg }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead_id", "value": "={{ $('Split Into Individual Leads').item.json.id }}" },
            { "name": "message", "value": "={{ $('Build Recovery Message').item.json.message }}" },
            { "name": "direction", "value": "outbound" },
            { "name": "channel", "value": "whatsapp" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "log-crm",
      "name": "Log in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "Daily 2PM and 7PM": {
      "main": [[{ "node": "Get No-Show Visits", "type": "main", "index": 0 }]]
    },
    "Get No-Show Visits": {
      "main": [[{ "node": "Any No-Shows?", "type": "main", "index": 0 }]]
    },
    "Any No-Shows?": {
      "main": [
        [{ "node": "Split Into Individual Leads", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Into Individual Leads": {
      "main": [[{ "node": "Build Recovery Message", "type": "main", "index": 0 }]]
    },
    "Build Recovery Message": {
      "main": [[{ "node": "Send Recovery WhatsApp", "type": "main", "index": 0 }]]
    },
    "Send Recovery WhatsApp": {
      "main": [[{ "node": "Log in CRM", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Runs at 2PM and 7PM daily. Finds leads who had a property viewing scheduled today but are still in site_visit stage 2+ hours after their slot (likely no-show). Sends a friendly WhatsApp to reschedule."
  }
}
